body{
    background:url(../IMAGES/aesthetic.jfif) no-repeat;
background-size: cover;
font-family: popins, sans-serif;
margin-bottom: 10%;
}
section{
animation: animateBg 5s linear infinite;

}

@keyframes animateBg{
    100%{
        filter: hue-rotate(300deg);
    }
}
form{
    background: transparent;
     border:3px solid rgb(32, 32, 241) ;
     width: 40%;
      padding: 5%;
    border-radius: 20px;
justify-content: center;
align-items: center;
backdrop-filter: blur(15px);
}
.line{
    display: flex;
}
a{
    color: #fff;
}

.lefty{
    padding-left: 50px;
    }


button{
    width: 100%;
    height: 40px;
    background-color: #fff;
    border-radius: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: 500;
    color: #000;
}

.passmail{
    position: relative;
    width: 310px;
    margin: 30px 0;
    border-bottom: 2px solid #fff;

}

.passmail label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #fff;
    pointer-events: none;
    transition: -5s;
}

.passmail input:focus~label,
.passmail input:valid~label{
    top: -5px;
}

.passmail input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
}


